#main {
  height: 80vh;
  background-image: url("../../assets/banner.png");
  background-size: cover;
}

#history {
  height: 450px;
}

#suites {
  background-image: url("../../assets/banner_2.png");
  background-size: cover;
}
